@tailwind base;
@tailwind components;
@tailwind utilities;

.video-iframe {
  width: 100%;
  max-width: 400px; /* Atur lebar maksimum video sesuai kebutuhan Anda */
  margin-left: auto;
  margin-right: auto;
}

.loader {
  position: relative;
  width: 340px;
  height: 130px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}
.slide {
  font-size: 40px;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/*navbar baru*/

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

nav {
  background-color: white;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #a6e3e9;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar.show {
  display: flex;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .video-iframe {
    margin-left: auto;
    margin-right: auto;
  }
}

/* footer */
* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #ffffff;
}

body {
  font: 16px/1.6 arial, sans-serif;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  position: relative; /* Make the body relative to position the footer */
}

header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 190px;
}

header h1 {
  font: normal 32px/1.5 "Open Sans", sans-serif;
  color: #00922c;
  padding-top: 16px;
}

header h2 {
  color: #000000;
  font-size: 30px;
}

footer {
  position: absolute; /* Position the footer at the bottom of the viewport */
  bottom: 0;
}

.footer {
  background-color: #222831;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px arial;
  padding: 50px;
  margin-bottom: -750px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 30%;
}

.footer h3 {
  color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
  font-family: arial;
}

.footer .footer-left img {
  width: 25%;
  vertical-align: middle;
}

.footer .footer-left .credit-cards {
  width: 100%;

  background-color: #e3e3e3;
  padding-bottom: 20px;
  border-radius: 8px;
}

.footer .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: rgb(22, 255, 177);
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-media {
  margin-top: 25px;
}

.footer .footer-media a {
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.footer .footer-media a:hover {
  background-color: #ed1616;
}

@media (max-width: 880px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;

    text-align: left;
  }

  .footer .footer-center i {
    margin-left: 0px;
  }
}
